#Calendar {
	width:1000px;
}

#Calendar td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

#Calendar .cMonth {
	font-weight:bold;
	text-align:center;
}

#Calendar .wDays {
	font-weight:bold;
	text-align:center;
	background-color:#CCC;
}

#Calendar .mNav {
	font-weight:bold;
	text-align:center;
	background-color:#CCC;
}

#Calendar table td a {
	text-decoration:none;
	color:#000;
}

#Calendar table td a:hover {
	text-decoration:underline;
}


#Calendar .withevent {
	text-align:center;
	background-color:#CCC;
	color:#000;
	cursor:pointer;
}

#Calendar .noevent {
	text-align:center;
	background-color:#FFF;
	color:#000;
}


#Events {
	width:1000px;
}

#Events h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
}

#Events span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#Events p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
/*
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}*/

